/* Cabeçalho da página de perfil */
.aluno-perfil-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.aluno-perfil-header h1 {
    font-size: 1.8em;
    font-weight: 500;
    color: #495057;
}

/* Linha divisória */
hr {
    border: none;
    border-top: 1px solid #dee2e6;
    margin: 15px 0;
}

/*Seções*/
.perfil-section {
    background: #fff;
    padding: 20px 25px;
    border-radius: 12px;
    border: 1px solid #dce3ea;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    margin-top: 5px;
}

.perfil-section h2 {
    font-size: 1.25em;
    font-weight: 600;
    color: #2572b6;
    margin-bottom: 15px;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 5px;
}

/*Grid interno*/
.perfil-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 260px));
    gap: 14px 0px;
    justify-items: start;
}

/* Textos */
.perfil-grid p {
    margin: 0;
    padding: 3px 0;
    font-size: 0.95em;
    text-align: left;
    color: #343a40;
}

.perfil-grid strong {
    color: #000;
    font-weight: 600;
}

/* Espaçamento para botões na seção final */
.perfil-section .perfil-actions {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 20px;
}